body {
  padding: 0;
  margin: 0;
  font-family: 'SF Pro Display';
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

@media screen and (max-width: 980px) {
  body {
    padding: 0;
    margin: 0;
    font-family: 'SF Pro Display';
  }

  .container {
    max-width: 500px;
    margin: 0 auto;
  }
}