.post_link {
  text-decoration: none;
  font-family: "SF Pro Display";
}
.post_title {
  margin: 0px;
  font-size: 20px;
  color: #000;
  font-family: "SF Pro Display";
}
.post_title:hover {
  color: #929292;
  transition: all 0.2s ease-out;
  font-family: "SF Pro Display";
}

.post_date {
  margin: 20px 0 0 0;
  font-weight: normal;
  color: #808080;
  font-family: "SF Pro Display";
}